* {
    font-family: 'Fira Code', monospace;
}



header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
nav a {
    display: inline-block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}
nav a:hover {
    background-color: #ddd;
    color: #333;
}

#current_page {
    background-color: #4e296b46;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

.upload_work {
    margin-top: 20px;
    text-align: center;
}

#error_message {
    text-align: center;
}

p {
    font-size: 21px;
}

.btn-sumbit:hover {
    background-color: #412C84;
}