<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Мой профиль</title>
	<link rel="stylesheet" href="../public/css/about.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<a href="https://kait20.mskobr.ru/">
			<img src="../public/img/logo-kait.jpg" alt="Мой логотип" width="200">
		</a>
	</header>
	<nav>
		<a href="/profile">Мой профиль</a>
		<a href="/works">Мои работы</a>
		<a href="/logout">Выйти из профиля</a>
		<a id="current_page" href="/about">О проекте</a>
	</nav>
    <div class="about">
        <h1>Выпускная квалификационная работа Козлова Александра Сергеевича, студента группы ИСП342</h1>
        <h2>Все оставшиеся права защищены</h2
        <img src="" alt="">
    </div>
</body>
</html>
