<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Мой профиль</title>
	<link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
	<header>
		<img src="../public/img/logo-kait.jpg" alt="Мой логотип" width="200">
	</header>
	<nav>
		<a href="#">Мой профиль</a>
		<a href="#">Мои достижения</a>
		<a href="#">О нас</a>
	</nav>
	<div class="user-info">
		<img src="user-avatar.jpg" alt="Аватар пользователя">
		<h2>{{ .user.Username }}</h2>
		<p>Возраст: {{ .user.Age }}</p>
		<p>АЙДИ: {{ .user.Id }}</p>
		<p>Группа: 12345</p>
		<p>Отделение: Информационные технологии</p>
		<p>Куратор: Петрова Ольга Ивановна</p>
		<p>Специальность: Веб-разработка</p>
		<p id="about">О себе: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus justo ac purus fermentum, id euismod lectus lobortis. Maecenas nec dui vel magna volutpat lacinia.</p>
		<button>Редактировать профиль</button>
	</div>
</body>
</html>
