<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header>
        <img src="../public/img/kait_logo.jpg" alt="Шапка сайта">
        <nav>
          <ul>
            <li><a href="#">Мой профиль</a></li>
            <li><a href="#">Мои достижения</a></li>
            <li><a href="#">О колледже</a></li>
          </ul>
        </nav>
      </header>
      <body>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eveniet.
        </div>
        <img src="../public/img/war.jpg" alt="тимоха">
        <img src="../public/img/dota.jpg" alt="тимоха">
      </body>
</body>
</html>
