<!DOCTYPE html>
<html>
  <head>
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="../public/css/index.css">
  </head>
  <body>
  <header>
  <a href="https://kait20.mskobr.ru/">
      <img id="logo" src="../public/img/logo-kait.jpg" alt="Логотип">
  </a>
    </header>
    <main>
      <h1>Добро пожаловать в систему электронного портфолио!</h1>
      <h2>Следите за своими успехами, храните свои достижения, следите за информацией. Всё в одном месте.Войдите в свой аккаунт, данный вам вашими кураторами</h2>
      <button onclick="document.location='login'">Войти в аккаунт</button>
    </main>
  </body>
</html>
