<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<header>
    <div class="header">
        <img src="../public/img/PMC__Wagner_Group__logo.svg.png" alt="логотипчк">
    </div>
</header>
<body>
    <div class="content">
        <p>Добро пожаловать в систему электронного портфолио!</p>
        <h1>Следите за своими успехами, храните свои достижения, следите за информацией. Всё в одном месте.</h1>

        <div class="login-block">
            <p>Войдите в свой аккаунт, данный вам вашими кураторами</p>
            <button onclick="document.location='login'" class="login-btn">Войти</button>
        </div>
    </div>
</body>
</html>