<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Мой профиль</title>
	<link rel="stylesheet" href="../public/css/profile.css">
</head>
<body>
	<header>
		<a href="https://kait20.mskobr.ru/">
			<img src="../public/img/logo-kait.jpg" alt="Мой логотип" width="200">
		</a>
	</header>
	<nav>
		<a id="current_page">Мой профиль</a>
		<a href="#">Мои достижения</a>
		<a href="/about">О нас</a>
		<a href="/logout">Выйти из профиля</a>
	</nav>
	<div class="user-info">
		<img src="data:image/jpeg;base64, {{ .userPhoto }}" alt="Без картинки">
		<h2>{{ .user.Full_name }}</h2>
		<p>Возраст: {{ .user.Age }}</p>
		<p>Группа: {{ .user.Group_name }}</p>
		<p>Отделение: {{ .user.Cumpus_name }}</p>
		<p>Куратор: {{ .user.Curator_name }}</p>
		<p>Специальность: {{ .user.Speciality_name }}</p>
		<p id="about">О себе: {{ .user.Description }}</p>
		<a href="/edit_profile" class="edit-profile-button">Редактировать профиль</a>
	</div>
</body>
</html>
