<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/works.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <title>Мои работы</title>
</head>
<body>
    <header>
		<a href="https://kait20.mskobr.ru/">
			<img class="logo" src="../public/img/logo-kait.jpg" alt="Мой логотип" width="200">
		</a>
	</header>
	<nav>
		<a href="/profile">Мой профиль</a>
		<a id="current_page" href="/works">Мои работы</a>
		<a href="/logout">Выйти из профиля</a>
		<a href="/about">О проекте</a>
	</nav>

	<form class="upload_work" action="/works" method="POST" enctype="multipart/form-data">
		<p>Загрузить работу</p>
		<input type="file" name="work" id="work">
		<br>
        <button class="btn-sumbit" type="submit">Загрузить</button>
	</form>
	<hr>

	<h2>Ваши работы</h2>
	{{ if .message}}
		<div id="error_message">{{ .message }}</div>
	{{ else }}
	<div class="grid-container">
		{{ range .works}}
			<div class="grid-item">
				<h3>{{ .File_name }}</h3>
				<p>{{ .Upload_date }}</p>
				<a class="btn-download" href="/download/{{.Id }}">Скачать работу</a>
				<a class="btn-delete" href="/delete/{{.Id }}">Удалить работу</a>
			</div>
		{{ end }}
	</div>
	{{ end }}
</body>
</html>